# Secrets
.env.prod
.env

# Build artifacts
frontend/dist/
frontend/node_modules/

# Cloudflare
*.deb
/etc/cloudflared/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Docker volumes
db_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
